# Unity project ignores
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Memory captures & recordings
[Mm]emoryCaptures/
[Rr]ecordings/

# Packages cache
[Pp]ackages/manifest.json.meta
[Pp]ackages/packages-lock.json.meta

# Plugins cache
/[Aa]ssets/Plugins/Editor/JetBrains*

# Generated project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds / artifacts
*.apk
*.aab
*.unitypackage
*.app
sysinfo.txt
crashlytics-build.properties

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*
